absl-py==2.1.0
astroid==3.3.8
black==25.1.0
blinker==1.9.0
click==8.1.8
coverage==7.6.12
dill==0.3.9
Flask==3.1.0
Flask-Injector==0.15.0
geojson==3.2.0
immutabledict==4.2.1
iniconfig==2.0.0
inject==5.2.1
injector==0.22.0
invoke==2.2.0
isort==6.0.0
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
mccabe==0.7.0
mypy-extensions==1.0.0
numpy==2.2.3
ortools==9.12.4544
packaging==24.2
pandas==2.2.3
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.5.0
protobuf==5.29.3
pylint==3.3.4
pytest==8.3.4
pytest-cov==6.0.0
pytest-timeout==2.3.1
python-dateutil==2.9.0.post0
pytz==2025.1
PyVirtualDisplay==3.0
setuptools==75.8.0
six==1.17.0
tomlkit==0.13.2
tzdata==2025.1
Werkzeug==3.1.3
