<div class="button-container mt-2">
  <button
    type="button"
    class="btn btn-primary"
    [class.active]="state === States.setPoint"
    (click)="setPoint()">
    Set destination
  </button>
  <button
    type="button"
    class="btn btn-primary"
    [class.active]="state === States.setVehicle"
    (click)="setVehicle()">
    Set vehicle
  </button>
  <button
    type="button"
    class="btn btn-danger"
    (click)="setClear()"
  >
  Clear
  </button>
</div>
<div>
  <!-- List of markers -->
  <hr/>
  <ul class="marker-list">
    <li *ngFor="let marker of destinationMarkers" (click)="highlightMarker(marker)" [class.selected]="marker === selectedMarker">
      <span class="marker-id">{{ marker.id }}</span>
      <span class="marker-coordinates">{{ marker.getLatLng().lat }}, {{ marker.getLatLng().lng }}</span>
    </li>
  </ul>
  <hr/>
<div class="button-container">
  <button
    type="button"
    class="btn btn-primary"
    [disabled]="!canStartRoute()"
    (click)="startRoute()"
  >
  Start route
  </button>
</div>
</div>
