/*
 .map-container {
  position: relative;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 800px;
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}
*/
#map {
  height: 95vh;
  width: 100%;
}
